.advantages {
    padding: 60px 0;
    width: 480px;
    margin: 0 auto;
}

.advantages-card-icon {
    @include flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.advantages-icon {
    width: 70px;
    height: 70px;
}

.advantages-list-item-header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;   
    letter-spacing: 0.03em;
    color: #757575;
}

@media screen and (max-width:767px) {
    .advantages-list-item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .advantages {
        width: 768px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    .advantages-card-icon {
        width: 354px;
    }

    .advantages-list-item {
        width: 354px;
        margin: 15px;
    }

    .advantages-list-item-header {
        text-align: start;
    }
}
@media screen and (min-width: 1200px) {
    .advantages {
        width: 1200px;
        padding: 94px 0;
    }

    .advantages-list {
        margin: 0;
    }

    .advantages-list-item {
        margin: 0;
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }

        .advantages-card-icon {
            width: 270px;
        }
    }
}

