.header {
    width: 480px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .header {
        height: 60px;
    }
    
    .navigation-list {
        display: none;
    }
    
    .contact-list {
        display: none;
    }

    .menu-btn, 
    .mobile-menu-close-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 40px;
        height: 40px; 
        cursor: pointer;
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: scale(0);
        width: 100vw;
        min-width: 480px;
        height: 100vh;
        padding: 48px 40px;
        background: #FFFFFF;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-open {
            transform: scale(1);
            z-index: 100;
        }
    }

    .menu-icon,
    .menu-close-icon {
        width: 40px;
        height: 40px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-icon {
        .menu-btn:focus &,
        .menu-btn:hover & {
            fill: var(--accent-color)
        }
    }

    .menu-close-icon {
        .mobile-menu-close-btn:hover &, 
        .mobile-menu-close-btn:focus & {
            fill: var(--accent-color)
        }
    }
    

    .mobile-menu-close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
    }  
    
    .mobile-menu-nav-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .mobile-menu-nav-link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        color: #212121;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    // .mobile-menu-lower-part {

    // }

    .mobile-menu-contcts {
        margin-bottom: 64px;
    }

    .mobile-menu-contacts-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .mobile-menu-phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    .mobile-menu-email {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.667;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .mobile-menu-social-list {
        @include flex;
    }

    .mobile-menu-social-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    .mobile-menu-social-item {
        &:not(:last-child) {
            margin-right: 20px;
            position: relative;
        }

        &:not(:last-child)::after {
            position: absolute;
            display: block;
            top: 0;
            right: -10px;
            padding-right: -10px;
            width: 22px;
            height: 0px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(-90deg);
            transform-origin: right top;
            content: "";
        }
    }

}

@media screen and (min-width: 768px) {
    .header {
        width: 768px;
        height: 80px;
    }

    .menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .navigation {
        @include flex;
    }
    
    .navigation-list {
        @include flex;
        position: relative;
    }

    .navigation-list-item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    
    .navigation-list-link {
        display: block;
        padding: 32px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        color: #212121;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .studio-header-element {
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 48px;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }
    
    .portfolio-header-element {
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 99px;
            bottom: 0;
            width: 78px;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }

    .mail-icon {
        width: 14px;
        height: 10px;
        margin-right: 10px;
        fill: currentColor;
    }
    
    .phone-icon {
        width: 10px;
        height: 14px;
        margin-right: 10px;
        fill: currentColor;
    }
    
    .contact-mail {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: #757575;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .header-mail {
        @include flex; 
        margin-bottom: 10px;
    }
    
    .header-phone {
        @include flex; 
    }
    
    .contact-phone {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
        color: #757575;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.current {
    color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .header {
        width: 1200px;
    }

    .contact-list {
        @include flex;
        margin-left: auto;
        justify-content: flex-end;  
    }

    .contact-list-item {
        @include flex;
    
        &:not(:first-child) {
            margin-left: 30px;
        }
    }

    .mail-icon {
        width: 16px;
        height: 10px;
    }

    .phone-icon {
        width: 10px;
        height: 16px;
    }

    .contact-mail, 
    .contact-phone {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        margin-bottom: 0;
    }


}







